.sampulsatu {
    padding: 50px;
}

.sampulbuku {
    border-radius: 20px;
}

p:hover {
    transform: scale(1.020);
    transition: transform .2s;
}

.iconfavorit:hover {
    transform: scale(1.070);
    transition: transform .2s;
}

.hoversampul:hover {
    transform: scale(1.020);
    transition: transform .2s;
}

.iconfavorit {
    background-color: #ffffff;
    border-radius: 15px;
    width: 45px;
    padding: 8px;
    position: absolute;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
}

.iconclick {
    border-radius: 15px;
    width: 45px;
    padding: 8px;
    position: absolute;
}