.hasilreview {
    color: #ffffff;
    margin: 0em 8em 0em 8em;
    padding: 1em 3em 1em 3em;
    justify-content: space-between;
    text-align: justify;
    background-color: #00A9B7;
    border-radius: 20px;
}

.reviewicon {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.iconedit {
    background-color: #80CFF0;
    width: 50px;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    margin-right: 60px;
}

.icondelete {
    background-color: #F05757;
    width: 50px;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
}

.edit::placeholder {
    color: #ffffff;
    opacity: 1;
}