.navbar {
    padding: 5px;
    background-color: #00A9B7;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    z-index: 2;
}

.baris {
    justify-content: center;
    text-align: center;
}

.back1 {
    margin-left: 30px;
    padding: 12px;
    background-color: #018792;
    border-radius: 20px;
    width: 50px;
}

.back2 {
    margin-left: 20px;
    padding: 12px;
    background-color: #018792;
    border-radius: 20px;
    width: 50px;
}

.back3 {
    text-align: left;
    padding: 12px;
    display: flex;
    align-items: center;
}

.kolomsearch {
    display: flex !important;
    align-items: center;
}

.inputsearch {
    padding-left: 20px;
}

.inputsearch input {
    border: none;
}

.inputsearch input:focus {
    outline: none;
}

.back4 {
    margin-left: 60px;
    padding: 5px;
    border-radius: 20px;
    width: 50px;
}

.back4:hover {
    background-color: #018792;
    transition: all 1s ease-in-out;
}

.kolomsearch {
    background-color: #ffffff;
    border-radius: 20px;
}

.detail {
    position: relative;
    animation: opensmooth 1s;
    transition: display 2s;
    display: block;
    z-index: 2;
}

@keyframes opensmooth {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closesmooth {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hidden {
    display: none;
    animation: closesmooth 1s;
    transition: opacity 1s ease-out;
}

.accdetail {
    padding: 20px 0px 20px 0px;
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #00A9B7;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
}

.tambahbuku {
    display: flex;
    padding: 0px 40px 0px 40px;
    align-items: center;
}

.iconbuku {
    width: 40px;
}

.table {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
}