.barislogin {
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 9%;
    /* background-color: black; */
    /* display: flex; */
}

.formlogin {
    padding: 5%;
    border-radius: 0px 20px 20px 0px;
    background-color: #00a9b7;
    box-shadow: 1px 1px 0px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 0px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 0px -2px rgba(0, 0, 0, 0.75);
}

.colsatu {
    padding: 5%;
    background-image: url(../../assets/background-login.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    background-color: #00a9b7;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
}

.formlogin button {
    float: right;
}