.barisfavorit {
    margin: 2% !important;
    padding: 2% 0% 2% 4%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.75);
    align-items: center;
}

.judulbukufavorit {
    font-size: larger;
    font-weight: bolder;
}